ul {
  list-style: none;
}

li {    
  width: 150px;
  background-color: blue;
  text-align: center;
  margin: 2px;

  &:hover {
    border: 2px solid red;
  }

  &:focus {
    border: 2px solid red;

  }
}

a {
  color: white;
  text-decoration: none;
}