table,
th,
td {
  border: 1px solid black;
}

tr > th:first-child {
  background-color: lightblue;
}

tr:nth-child(odd) {
  background-color: lightgray;

  &:hover {
    background-color: yellow;
  }
}

tr:nth-child(even) {
  background-color: rgb(201, 233, 151);
  &:hover {
    background-color: yellow;
  }
}
